body *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 98vh;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F2F2;
    height: 100%;
}

#app{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5vh 0 5vh 0;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 80vh;
    padding-top: 50px;

}

.app-wrapper{
    width: 640px;
    height: 470px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.img-wrapper{
    width: 640px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.video-output{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    height: 360px;
    background-color: #D8D8D8;
}

.video{
    display: flex;
    height: 360px;
    width: 640px;
    z-index: 1;
}

.marker{
    display: flex;
    position: absolute;
    z-index: 2;
    margin-top: 38px;
}

#canvas {
    display: none;
}

.button-wrapper{
    width: 360px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /*font-family: Lucida Grande;*/
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0;
    user-select: none;
}

.button*{
    margin: 10px;
}

a{
    text-decoration: none;
}

.camera-button:hover{
    background-color: #319843;
    transition: .3s;
    /*font-size: 20px;*/
}


.camera-button{
    color: #FFFFFF;
    background-color: #4B9C7B;
}

.clear-button__disable {
    text-decoration: none;
    box-shadow: 0 0 0;
    color: #FFFFFF;
    background-color: #BDBDBD;
}

.clear-button__enable{
    color: #FFFFFF;
    background-color: #b54041;
}

.clear-button__enable:hover{
    color: #4B9C7B;
    background-color: #FFFFFF;
    transition: .3s;
}

.back-button{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #4B9C7B;
}

.back-button:hover{
    color: white;
    background-color: #b54041;
    transition: .3s;
}

.history-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 240px;
    padding: 0 10vh;
}

.history-name{
    display: flex;
    font-size: 26px;
    line-height: 33px;
    font-weight: bold;
    padding-bottom: 5vh;
}


.history-item{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:  1em ;
}

.history-item img {
    width: 320px;
    height: 180px;
    object-fit: contain;
    background-color: #D8D8D8;
    outline: 1px solid #979797;
}

 /*Large desktops and laptops*/
/*@media (min-width: 1200px) {*/
/*}*/

/*Portrait tablets and medium desktops*/
/*@media (min-width: 992px) and (max-width: 1199px) {*/
/*}*/

 /*Portrait tablets and small desktops */
/*@media (min-width: 768px) and (max-width: 991px) {*/
/*}*/

/*Landscape phones and portrait tablets*/
/*@media (max-width: 767px) {*/
/*}*/


 /*Landscape phones and smaller */
@media (max-width: 480px) {
    #app{
        padding: 0vh 0 0vh 0;
    }

    .app-wrapper{
        width: 300px;
        height: 320px;
    }

    .img-wrapper{
        height: 235px;
        width: 320px;
    }

    .img-wrapper img{
        height: 180px;
        width: 168px;
    }

    .video-output{
        height: 237px;
        width: 220px;
    }

    .video{
        height: 235px;
        width: 176px;
        outline: 1px solid #979797;
    }

    .marker{
        height: 150px;
    }

    .button-wrapper{
        width: 320px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .history-name{
        margin-bottom: 20px;
    }

    .history-wrapper{
        padding-top: 20px;
    }
    .history-item{
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:  1em ;
    }

    .history-item img {
        width: 150px;
    }

}

