body *{
    box-sizing: border-box;
}

body{
    padding: 0 74px 74px 74px;
    background-color: #F2F2F2;
}

#app{
   margin: 0;
    padding: 0;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 84vh;
    padding-top: 50px;
}

.app-wrapper{
    width: 640px;
    height: 470px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.img-wrapper{
    width: 640px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.video-output{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    height: 360px;
    background-color: #D8D8D8;
    outline: 1px solid #979797;
}

.video{
    display: flex;
    height: 360px;
    width: 640px;
    z-index: 1;
}

.marker{
    display: flex;
    position: absolute;
    z-index: 2;
    margin-top: 38px;

}

#canvas {
    display: none;
}

.button-wrapper{
    width: 360px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /*font-family: Lucida Grande;*/
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0;
}

.button*{
    margin: 10px;
    text-decoration: none;
}

.camera-button{
    color: #FFFFFF;
    background-color: #4B9C7B;
}

.clear-button__disable {
    box-shadow: 0 0 0;
    color: #FFFFFF;
    background-color: #BDBDBD;
}

.back-button{
    background-color: #FFFFFF;
    color: #4B9C7B;
}

.history-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 240px;
    padding-top: 80px;

}

.history-name{
    display: flex;
    font-size: 26px;
    line-height: 33px;
    font-weight: bold;
}

.history-items{
    max-width: 100%;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*width: 100%;*/
}

.history-item{
    /*margin-right: 40px;*/
    /*height: 180px;*/
    /*width: 320px;*/
    /*background-color: #D8D8D8;*/
    /*outline: 1px solid #979797;*/

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#photos img {
    height: 180px;
    width: 320px;
    background-color: #D8D8D8;
    outline: 1px solid #979797;
}




