body *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    height: 98vh;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2F2F2;
    height: 100%;
}

#app{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5vh 0 5vh 0;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 80vh;
    padding-top: 50px;

}

.app-wrapper{
    width: 640px;
    height: 470px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.img-wrapper{
    width: 640px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.video-output{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    height: 360px;
    background-color: #D8D8D8;
}

.video{
    display: flex;
    height: 360px;
    width: 640px;
    z-index: 1;
}

.marker{
    display: flex;
    position: absolute;
    z-index: 2;
    margin-top: 38px;
}

#canvas {
    display: none;
}

.button-wrapper{
    width: 360px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /*font-family: Lucida Grande;*/
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0;
    user-select: none;
}

.button*{
    margin: 10px;
}

a{
    text-decoration: none;
}

.camera-button:hover{
    background-color: #319843;
    transition: .3s;
    /*font-size: 20px;*/
}


.camera-button{
    color: #FFFFFF;
    background-color: #4B9C7B;
}

.clear-button__disable {
    text-decoration: none;
    box-shadow: 0 0 0;
    color: #FFFFFF;
    background-color: #BDBDBD;
}

.clear-button__enable{
    color: #FFFFFF;
    background-color: #b54041;
}

.back-button{
    text-decoration: none;
    background-color: #FFFFFF;
    color: #4B9C7B;
}

.back-button:hover{
    color: white;
    background-color: #b54041;
}

.history-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 240px;
    padding: 0 10vh;
}

.history-name{
    display: flex;
    font-size: 26px;
    line-height: 33px;
    font-weight: bold;
}

.history-items{
    /*align-content: center;*/
    /*display: grid;*/
    /*max-width: 100%;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*justify-content: space-between;*/
    /*display: grid;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*grid-template-columns: repeat(4, 1fr);*/
    /*grid-gap: 30px 20px ;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: flex-start;*/
    /*width: 100%;*/
}

.history-item{

    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 0fr);
    /*grid-template-columns: repeat(5, 1fr);*/
    /*display: grid;*/
    /*!*align-items: center;*!*/
    justify-content: space-between;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-gap: 30px 30px ;

}

#photos img {
    height: 180px;
    width: 320px;
    background-color: #D8D8D8;
    outline: 1px solid #979797;
}



/* !*Large desktops and laptops !*/
/*@media (min-width: 1200px) {*/
/*    .history-item{*/
/*        display: grid;*/
/*        grid-template-columns: repeat(5, 1fr);*/
/*        grid-gap: 30px 0 ;*/
/*    }*/

/*}*/

/*/ Portrait tablets and medium desktops !*!*@media (min-width: 992px) and (max-width: 1199px) {*!*/
/*    .history-item{*/
/*        display: grid;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        grid-gap: 30px 0 ;*/
/*    }*/

/*}*/

/*/ Portrait tablets and small desktops !*!*@media (min-width: 768px) and (max-width: 991px) {*!*/
/*    .history-item{*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        grid-gap: 30px 0 ;*/
/*    }*/
/*}*/

/*/ Landscape phones and portrait tablets !*!*@media (max-width: 767px) {*!*/
/*    .history-item{*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        grid-gap: 30px 0 ;*/
/*    }*/
/*}*/


/*/ Landscape phones and smaller *!*!*!*/
/*@media (max-width: 480px) {*/
/*    .history-item{*/
/*        display: grid;*/
/*        grid-template-columns: repeat(2, 1fr);*/
/*        grid-gap: 30px 0 ;*/
/*    }*/
/*}*/

